.vs

# CSharp
**/bin
**/obj

.sonarqube
sonarqubecoverage
**/.sonarqube
**/sonarqubecoverage

.secrets
**/.secrets

TestResults
**/TestResults

ci-cd

languages/csharp/nuget-artifact
languages/csharp/**/nupkg